@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

html, body {
  font-family: 'Comfortaa', cursive;
  background: url(img/cool-background.svg) no-repeat;
}

form {
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 16px;
  padding: 32px;
  position: absolute;
  top: 256px;
  left: 256px;
}

input {
  display: block;
  border: none;
  border-bottom: 1px solid lightgrey;
  padding: 4px;
  margin: 24px 0;
  font-size: 18px;
}

input[type="submit"] {
  background: none;
  border: 1px solid lightgrey;
  padding: 8px 16px;
  border-radius: 32px;
}

a {
  text-decoration: underline;
  text-decoration-style: dashed;
  color:black;
  margin-bottom: 4px;
  &:hover {
    background: linear-gradient(to right, rgb(154, 173, 206), rgb(65, 69, 132));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-shadow: none;
  }
}
